HOST=0.0.0.0
PORT=1337
APP_KEYS=6g48sTVceNulHOmWIdjzZQ==,MugMhESdvMFA5Yb96YPmYQ==,MNlLsEEE0LnlS7zsbDWQtg==,T/Fz2OtcFZQTf0lYZMlGYQ==
API_TOKEN_SALT=YeJ33/M9/PC2OVSRBQ66wA==
ADMIN_JWT_SECRET=EH2MZ+3O5SUYI4ndDS7yrw==
JWT_SECRET=xqBXco1ZV3ocsQs5r4ncKQ==
